:root {
    /* Neutral colors */
    --neutral-900: #202020;
    --neutral-800: #3F3F3F;
    --neutral-700: #5F5F5F;
    --neutral-600: #7E7E7E;
    --neutral-500: #9E9E9E;
    --neutral-400: #B1B1B1;
    --neutral-300: #C5C5C5;
    --neutral-200: #D8D8D8;
    --neutral-100: #ECECEC;
    --neutral-000: #FFFFFF;

    /* Primary colors */
    --primary-pressed: #372980;
    --primary-hover: #3B25A8;
    --primary-main: #3818D9;
    --primary-border: #A899F1;
    --primary-focus: #E2E0FF;
    --primary-bg: #F7F5FF;

    /* Danger colors */
    --danger-pressed: #520C0C;
    --danger-hover: #891313;
    --danger-main: #BA1717;
    --danger-border: #E2A1A1;
    --danger-focus: #FEE1E1;
    --danger-bg: #F9F2F2;

    /* Warning colors */
    --warning-pressed: #705E00;
    --warning-hover: #AA8F00;
    --warning-main: #E9C400;
    --warning-border: #F3DE71;
    --warning-focus: #F9ECAA;
    --warning-bg: #FCFAF1;
    
    /* Success colors */
    --success-pressed: #02320C;
    --success-hover: #034311;
    --success-main: #03781D;
    --success-border: #6DC580;
    --success-focus: #C2EECC;
    --success-bg: #F0F9F2;

    /* Info colors */
    --info-pressed: #003160;
    --info-hover: #00529F;
    --info-main: #006FD5;
    --info-border: #79B0E2;
    --info-focus: #C0E1FF;
    --info-bg: #F0F8FF;
}
body{
    background-color: var(--neutral-100);
    overflow-x: hidden;
    font-size: 16px;
    color: var(--neutral-600);
    overflow-wrap: break-word !important;
}
.content{
    display: grid;
    grid-template-columns: minmax(0, min-content) 1fr;
    row-gap: 24px;
    column-gap: 24px;
}

/* Messages */
.message{
    position: fixed;
    align-items: center;
    z-index: 10;
    margin: 0 32px 32px 0;
    bottom: 0;
    right: 0;

    width: 600px;
    max-width: 600px;
    padding: 16px;
    border-radius: 4px;
}

.message .msg-top{
    display: flex;
}
.message .del-msg{
    margin-left: auto;
}
.message .msg-title{
    font-size: 20px;
    margin-left: 8px;
    padding-bottom: 5px;
    color: var(--neutral-800);
}
.msg-text{
    margin: 10px 0px 0px 34px;
    font-size: 16px;
    color: var(--neutral-600);
}

.message-error{
    background-color: var(--danger-bg);
    border: 2px solid var(--danger-border);
}
.message-warning{
    background-color: var(--warning-bg);
    border: 2px solid var(--warning-border);
}
.message-success{
    background-color: var(--success-bg);
    border: 2px solid var(--success-border);
}
.message-info{
    background-color: var(--info-bg);
    border: 2px solid var(--info-border);
}


.link-container{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;

    margin-left: 30px;
    height: auto;
    padding: 20px;
    width: 512px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border: 1px solid var(--neutral-100);
    background-color: var(--neutral-000);
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
}

/* Link acting like button */
.link-button{
    color: var(--neutral-000);
    background-color: var(--primary-main);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.link-button:hover{
    background-color: var(--primary-hover);
}

.link-button:active{
    background-color: var(--primary-pressed);
}

/* Info */
.info-container{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    padding: 20px;
    width: auto;
    height: auto;
    border: 1px solid var(--neutral-100);
    background-color: var(--neutral-000);
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
}

/* Forms */
.addmoney-container{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;

    margin-left: 30px;
    padding: 20px;
    width: 512px;
    border: 1px solid var(--neutral-100);
    background-color: var(--neutral-000);
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
}

h1{
    font-size: 28px;
    color: var(--neutral-800);
    font-weight: 600px;
}
form i{
    font-size: 16;
    color: var(--neutral-600);
    /* margin: 10px; */
    font-weight: 500;
}
input{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 12px;
    gap: 4px;
    width: 256px;
    height: 32px;
    background: #FFFFFF;
    border: 2px solid var(--neutral-200);
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

input:hover{
    border: 2px solid var(--primary-hover);
}

input:focus{
    border: 2px solid var(--primary-focus) !important;
}


select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 12px;
    gap: 4px;
    
    width: 256px;
    height: 32px;
    margin: 10px;
    
    color: var(--neutral-600);
    background: var(--neutral-000);
    border: 2px solid var(--neutral-200);
    
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    -webkit-transition: 0.5s;
    transition: 0.5s;
 }
 select::-ms-expand {
    display: none;
 }

 select:hover{
    border: 2px solid var(--primary-hover) !important;
 }
select:focus{
    border: 2px solid var(--primary-focus) !important;
}

option:hover{
    background-color: var(--primary-focus) !;
}

/* Tabela */
.withdraws-container{
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 3;
    margin: 0 30px;
    padding: 20px;
    max-width: 96vw;
    border: 1px solid var(--neutral-100);
    background-color: var(--neutral-000);
    color: var(--neutral-600);
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
}
.withdraws-wrapper{
    display: grid;
    grid-template-columns: minmax(0, min-content) 120px minmax(0, 1fr) minmax(0, min-content) minmax(0, min-content) minmax(0, 3fr) minmax(0, min-content);
    grid-auto-rows: minmax(50px auto);
    row-gap: 16px;
    column-gap: 8px;
}
.withdraws-wrapper .collumn-name{
    font-size: 18px;
    color: var(--neutral-700);
    font-weight: 600;
}

.withdraws-wrapper div{
    padding: 6px;
}

div.title{
    overflow-wrap: break-word;
}

/* Status wypłaty */
.status-success{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    width: 100px;
    height: 16px;
    border-radius: 32px;
    color: var(--success-main) !important;
    border: 2px solid var(--success-main) !important;
    background-color: var(--success-bg);
    font-weight: 600;
}
.status-success i{
    margin-top: 0px;
    margin-right: 5px;
}

.status-warning{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    width: 90px;
    height: 16px;
    border-radius: 32px;
    color: var(--warning-main) !important;
    border: 2px solid var(--warning-main) !important;
    background-color: var(--warning-bg);
    font-weight: 600;
}
.status-warning i{
    margin-top: 0px;
    margin-right: 5px;
}