body{
    background-color: var(--neutral-100);
    overflow-x: hidden;
    font-size: 16px;
    color: var(--neutral-600);
    overflow-wrap: break-word !important;
}
.content{
    margin: 0px;
    display: grid;
    grid-template-columns: minmax(0, min-content) 1fr;
    row-gap: 24px;
    column-gap: 24px;
}

.link-container{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;

    margin-left: 30px;
    height: auto;
    padding: 20px;
    width: auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border: 1px solid var(--neutral-100);
    background-color: var(--neutral-000);
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
}

/* Link acting like button */
.link-button{
    color: var(--neutral-000);
    background-color: var(--primary-main);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.link-button:hover{
    background-color: var(--primary-hover);
}

.link-button:active{
    background-color: var(--primary-pressed);
}

/* Info */
.info-container{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    padding: 20px;
    width: auto;
    height: auto;
    border: 1px solid var(--neutral-100);
    background-color: var(--neutral-000);
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
}

/* Forms */
.addmoney-container{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;

    margin-left: 30px;
    padding: 20px;
    width: auto;
    border: 1px solid var(--neutral-100);
    background-color: var(--neutral-000);
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
}

h1{
    font-size: 28px;
    color: var(--neutral-800);
    font-weight: 600px;
}
form i{
    font-size: 16;
    color: var(--neutral-600);
    /* margin: 10px; */
    font-weight: 500;
}
input{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 12px;
    gap: 4px;
    width: 256px;
    height: 32px;
    background: #FFFFFF;
    border: 2px solid var(--neutral-200);
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

input:hover{
    border: 2px solid var(--primary-hover);
}

input:focus{
    border: 2px solid var(--primary-focus) !important;
}


select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 12px;
    gap: 4px;
    
    width: 256px;
    height: 32px;
    margin: 10px;
    
    color: var(--neutral-600);
    background: var(--neutral-000);
    border: 2px solid var(--neutral-200);
    
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    -webkit-transition: 0.5s;
    transition: 0.5s;
 }
 select::-ms-expand {
    display: none;
 }

 select:hover{
    border: 2px solid var(--primary-hover) !important;
 }
select:focus{
    border: 2px solid var(--primary-focus) !important;
}

option:hover{
    background-color: var(--primary-focus) !;
}

/* Tabela */
.withdraws-container{
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 3;
    margin: 0 30px;
    padding: 20px;
    max-width: 96vw;
    border: 1px solid var(--neutral-100);
    background-color: var(--neutral-000);
    color: var(--neutral-600);
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
}
.withdraws-wrapper{
    display: grid;
    grid-template-columns: minmax(0, min-content) 120px minmax(0, 1fr) minmax(0, min-content) minmax(0, min-content) minmax(0, 3fr) minmax(0, min-content);
    grid-auto-rows: minmax(50px auto);
    row-gap: 16px;
    column-gap: 8px;
}
.withdraws-wrapper .collumn-name{
    font-size: 18px;
    color: var(--neutral-700);
    font-weight: 600;
}

.withdraws-wrapper div{
    padding: 6px;
}

div.title{
    overflow-wrap: break-word;
}

/* Status wypłaty */
.status-success{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    width: 100px;
    height: 16px;
    border-radius: 32px;
    color: var(--success-main) !important;
    border: 2px solid var(--success-main) !important;
    background-color: var(--success-bg);
    font-weight: 600;
}
.status-success i{
    margin-top: 0px;
    margin-right: 5px;
}

.status-warning, .status-warning a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    width: 90px;
    height: 16px;
    border-radius: 32px;
    color: var(--warning-main) !important;
    border: 2px solid var(--warning-main) !important;
    background-color: var(--warning-bg);
    font-weight: 600;
}
.status-warning i{
    margin-top: 0px;
    margin-right: 5px;
}

.status-success p::before{
    content: "Wypłacone";
}

.status-warning p::before{
    content: "Oczekuje";
}

.more-info, #info{
    display: none;
}

@media (max-width: 1050px){
    .withdraws-wrapper{
        grid-template-columns: minmax(0, min-content) 120px minmax(0, 1fr) minmax(0, min-content) minmax(0, min-content) minmax(0, 3fr);
    }

    .date, #date{
        display: none;
    }
}

@media (max-width: 920px){
    .withdraws-wrapper{
        grid-template-columns: minmax(0, min-content) 120px minmax(0, 1fr) minmax(0, min-content) minmax(0, min-content);
    }

    .reciver, #reciver{
        display: none;
    }
}

@media (max-width: 580px){
    .currency, #currency, .ammount, #ammount, .sender, #sender{
        display: none;
    }
    .withdraws-wrapper{
        grid-template-columns: minmax(0, min-content) 80px  minmax(0, min-content);
    }
    .more-info, #info{
        display: flex;
    }

    .status-success p::before{
        content: "";
    }

    .status-warning p::before{
        content: "";
    }
    .status-success, .status-warning{
        display: flex;
        width: 16px;
        justify-content: center;
        align-items: center;
    }
    .status-success i, .status-warning i{
        margin: 0;
    }
}


@media (max-width: 920px){
    .content{
        margin: 0px;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 24px;
        column-gap: 24px;
    }
    
    .link-container{
        grid-row-start: 1;
        margin: 0 30px;
    }
    .addmoney-container{
        grid-row-start: 2;
        margin: 0 30px;
    }
    .info-container{
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 1;
        margin: 0 30px;
    }
    .withdraws-container{
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end: 1;
    }
}