{% extends 'main/base.html' %}

{%block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'transactions/transactions.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'transaction_order/transaction_order.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="{% static 'transaction_order/transaction_order.js' %}"></script>
<script src="{% static 'transactions/transactions.js' %}"></script>
{% endblock %}

{% block content %}
<div class="content">
<div class="info-container">
<div class="informacje">
<form method="post">{% csrf_token %}
    <h1>Nowe zlecenie transakcji</h1>
    <!-- Form -->
    {% for field in transaction_order_form %}
            
    <div class="input-box">
        <i>{{field.label}}:</i>
        <br>
        <br>
        {{field}}
    </div>

        {% for error in transaction_form.field.errors %}
            <p class="login-error">{{error}}</p>
        {% endfor %}
    {% endfor %}


    {% if transaction_form.non_field_errors %}
        <div class="">
            <a>{{transaction_form.non_field_errors}}</a>
        </div>
    {% endif %}
    <input type="submit" class="buton-przelew buton-zlecenie" value="Nowe zlecenie transakcji" name="transaction">
    </form>

    <!-- Dropdown jQuerry -->
  <script>
      $(document).ready(function () {
          $('#NewTransactionOrder_reciver_fk').select2({
              ajax: {
                  url: '{% url 'zlecenia_transakcji' %}',
                  dataType: 'json',
                  processResults: function (data) {
                      return {
                          results: $.map(data, function (item) {
                              return {id: item.id, text: item.username};
                          })
                      };
                  }
              },
              minimumInputLength: 3
          });
          
      });
  </script>

<script>
    $(document).ready(function () {
        $('#id_reciver_fk').select2({
            ajax: {
                url: '{% url 'zlecenia_transakcji' %}',
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {id: item.id, text: item.username};
                        })
                    };
                }
            },
            minimumInputLength: 3
        });
        
    });
</script>
</div>
</div>

<div class="transactions">
    <h1>Twoje zlecenia transakcji</h1>
    <div>          
      <h3>Opcje filtrowania</h3> 
      <label class="switch">
        <input type="checkbox" onclick="toggleFilter();">
        <span class="slider round"></span>
      </label>


      <div class="filter-options flexBlock filter-active" id="filter-options">
        <form method="get">
          {% for field in transaction_orders_filter.form %}
            
          <div class="input-box filter-box">
              <i>{{field.label}}:</i>
              <br>
              {{field}}
          </div>
      
          {% for error in transaction_form.field.errors %}
              <p class="login-error">{{error}}</p>
          {% endfor %}
      {% endfor %}
          <button type="submit" class="buton-przelew nowy-przelew">Filtruj</button>
        </form>
      </div>

    <table>
        {% for transaction_order in transaction_orders.qs %}
        <tr>
            <td><bold>Do: </bold>{{transaction_order.reciver_fk}}</td>
            <td>{{transaction_order.amount}}</td>
            <td>{{transaction_order.waluta}}</td>
            <td>{{transaction_order.transaction_delay}} dni</td>
            <td>{{transaction_order.title}}</td>
            <td>{{transaction_order.last_transaction}}</td>
        </tr>
        {% endfor %}
    </table>

    </div>
</div>
</div>

{% if messages %}
    {% for message in messages %}
        <div class="message" id="message_container"      >
            <p>{{ message }}</p>
            <a href="" class="del-msg">
                &times;
            </a>
            <div class="outerContainer">
                <div class="innerBar"></div>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}