<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="icon"  href="{% static 'main/images/logo_bank.png' %}">
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/base.css' %}">
    {% endblock %}

    <title>{% block title %}Strona Główna{% endblock%}</title>
</head>

<body>
    <nav class="menu">
        <div class="flexBlock ul-wrapper">
            <div class="hamburger">
                <a href="/"><img src="{% static 'main/images/logo_bank.png' %}" alt="My image"></a>
                <div class="burger-bars" onclick="toogleMenu(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </div>

            <ul class="flexBlock" id="top-ul">
                <li class="logo"><a href="/"><img src="{% static 'main/images/logo_bank.png' %}" alt="My image"></a></li>
                <li class="li-nav"><a class="link" href="/">Strona główna</a></li>
                <li class="li-nav"><a class="link" href="/saldo/">Saldo</a></li>
                <li class="li-nav"><a class="link" href="/wymiana_walut/">Wymiana walut</a></li>
                <li class="li-nav"><a class="link" href="/zlecenia_transakcji/">Zlecenia transakcji</a></li>
                {% if user.is_superuser %}
                <li class="li-nav"><a class="link" href="/admindashboard/">Admin Panel</a></li>
                {% endif %}
            </ul>

            <ul class="flexBlock logowanie" id="bottom-ul">
            {% if user.is_authenticated %}
                <li class="login"><a href="/account/">Ustawienia</a></li>
                <li class="login li-responsive"><a href="/logout/">Wyloguj się</a></li>
            {% else %}
                <li class="login"><a href="/login/">Zaloguj się</a></li>
                <li class="login"><a href="/register/">Zarejestruj się</a></li>
            {% endif %}
            </ul>
            
        </div>
    </nav>

    <script>
        function toogleMenu(burger)
        {
            burger.classList.toggle("change");
            var top_ul = document.getElementById("top-ul");
            top_ul.classList.toggle("menu-visable");
            var bottom_ul = document.getElementById("bottom-ul");
            bottom_ul.classList.toggle("menu-visable");
        }
    </script>

    <div class="animation">
        {% block content%}{% endblock%}
    </div>

</body>
</html>